---
---

$section-headings-color: #333e48;
$header-heading-color: #333e48;

@import "{{ site.theme }}";

.page-header {
  color: #ffffff;
  text-align: center;
  background: #000000 url("https://raw.githubusercontent.com/jlinford/sc20-hackathon/main/banner-dark.png") right top no-repeat fixed;

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(10,10,10,0.8);
  background-color: rgba(255,255,255,0.8);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(10,10,10,0.6);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}
